/* color pallete */
/* TODO: MOBILE FIRST APCH*/
:root {
  --color-primary: #2583ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-bodyText: #918ca4;
  --color-border: #ccc;
  --border-radious: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography - adding font family  */
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-bodyText);
  font-size: 2.4rem;
  line-height: 1.5;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

/* font sizes  */
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/* media querry for desktop verson */

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* arrow links */

a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.5s;
}

.link-arrow:hover::after {
  margin-left: 20px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badges  */

.badge {
  border-radius: 15px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
  font-weight: 800;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* lists */

.list {
  list-style: none;
  font-size: 2.4rem;
  color: var(--color-headings);
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("/images/tick.svg");
}
.list--tick .list__item {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    padding-left: 0;
  }
}

/* icon */

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #f3f9fa;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

/* buttons */

.btn {
  border-radius: 4rem;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 13rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}
.btn--primary:hover {
  background-color: lightblue;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.btn--secondary:hover {
  background-color: #00c8eb;
}

.btn--dark {
  background-color: var(--color-headings);
  color: white;
}
.btn--dark:hover {
  background-color: gray;
}
.btn--skeleton {
  border: 2px solid var(--color-headings);
  background-color: white;
}
.btn--skeleton:hover {
  background-color: lightgray;
}
.btn--block {
  display: inline-block;
  width: 100%;
}
.btn--accent {
  background-color: var(--color-accent);
  color: white;
}
.btn--accent:hover {
  background-color: #fd4550;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
  }
  .btn--block {
    padding: auto;
  }
}

/* input */

.input {
  border-radius: var(--border-radious);
  border: 0;
  color: var(--color-headings);
  font-size: 2rem;
  font-weight: 400;
  outline: 0;
  overflow: hidden;
  padding: 1.5rem 1rem;
  white-space: nowrap;
  width: 100%;
}

::placeholder {
  color: #cdcbd7;
}
/* input group */

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radious);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
}
.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* plan */

.plan {
  padding: 2rem;
}
.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px lightgray;
  overflow: hidden;
}
.card__header {
  padding: 2rem 3rem;
}
.plan__name {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.card__body {
  padding: 1rem 3rem;
}

.card__body .list__item {
  font-size: 2.4rem;
  letter-spacing: 1px;
  margin-left: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
}
.card--secondary .card__header {
  background-color: var(--color-secondary);
}
.card--primary .badge--primary {
  background-color: #126de4;
}
.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

.plan__price {
  font-size: 6rem;
  color: #fff;
}
.plan__billing-cycle {
  color: #d3e6ff;
  font-size: 2.4rem;
  margin-right: 1rem;
}
.plan__tagline {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__tagline {
    font-size: 1.6rem;
  }
  .plan .badge--small {
    font-size: 1.2rem;
  }
  .plan .list__item {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
  }
}
