<section class="block container domain-block">
  <header class="block__header">
    <h2 class="block__heading">The Best Webhosting Starting at per Month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nam
      laudantium aliquid similique harum aliquam deserunt. Eaque qui cum
      quibusdam.
    </p>
  </header>
  <div class="input-group">
    <input
      type="text"
      name=""
      id="domainSearch"
      placeholder="Enter domain name here...."
      class="input"
    />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      search
    </button>
  </div>
  <ul class="list domain-block__prices">
    <li>.com $9.26</li>
    <li><span class="badge badge--secondary">.sg $7.91</span></li>
    <li>.space $12.98</li>
    <li>.info $14.15</li>
    <li>.net $16.15</li>
    <li>.xyz $10.15</li>
  </ul>
</section>
