<section class="block container">
  <header class="block__header features__header">
    <h2>Host on Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ea.</p>
  </header>
  <article class="grid grid--1x2 features">
    <div class="features__contents">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h2 class="features-contents__heading">Super Easy to Use</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        similique, accusantium atque recusandae voluptates ut dolorem esse
        deserunt possimus non dolorum vitae? Architecto veniam illo dignissimos
        quia eum, unde a!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/easy.png 1x, images/easy@2x.png 2x"
      />
      <img
        class="block-features__image"
        src="images/easy@2x.png"
        alt="easy features"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__contents">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h2 class="features-contents__heading">Simply Fast Websites</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        similique, accusantium atque recusandae voluptates ut dolorem esse
        deserunt possimus non dolorum vitae? Architecto veniam illo dignissimos
        quia eum, unde a!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/fast.png 1x, images/fast@2x.png 2x"
      />
      <img
        class="block-features__image"
        src="images/fast@2x.png"
        alt="easy features"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__contents">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h2 class="features-contents__heading">Wordpress Made Easy</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        similique, accusantium atque recusandae voluptates ut dolorem esse
        deserunt possimus non dolorum vitae? Architecto veniam illo dignissimos
        quia eum, unde a!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/wordpress.png 1x, images/wordpress@2x.png 2x"
      />
      <img
        class="block-features__image"
        src="images/wordpress@2x.png"
        alt="easy features"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 features">
    <div class="features__contents">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h2 class="features-contents__heading">24/7 Expert Support</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        similique, accusantium atque recusandae voluptates ut dolorem esse
        deserunt possimus non dolorum vitae? Architecto veniam illo dignissimos
        quia eum, unde a!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>

    <picture>
      <source
        type="image/webp"
        srcset="images/support.webp 1x, images/support@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/support.png 1x, images/support@2x.png 2x"
      />
      <img
        class="block-features__image"
        src="images/support@2x.png"
        alt="easy features"
      />
    </picture>
  </article>
</section>
