<section class="block block--dark block--skewed-right showcase-block">
  <header class="block__header">
    <h2 class="block__heading">User Friendly Control Panel</h2>
    <p class="block__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A, omnis.
    </p>
  </header>
  <div class="container grid grid--1x2">
    <picture class="showcase-block__image">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png"
      />
      <img src="images/ipad@2x.png" alt="an ipad" />
    </picture>
    <div class="showcase__content">
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprites.svg#settings"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p class="media__description">
            Our cloud plans include easy onboarding for new and existing sites
            and managed Wordpress and WooCommerce auto-updates
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Staging, Git & WP-CLI</h3>
          <p class="media__description">
            We make your Wordpress and WooCOmmerce development flow easier with
            a convenient staging tool and Git and WP-CLI integration.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Dynamic Caching & More</h3>
          <p class="media__description">
            Speedup your WordPress and Woo sites withour SG Optimized plugin
            through smart dynamic caching and multiple other performance
            optimizations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
