<section class="block testimonial-block">
  <header class="block__header">
    <h2 class="block__heading">What Our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic,
      consequatur.
    </p>
  </header>
  <div class="container">
    <div class="testimonial card grid grid--1x2 testimonial--card">
      <div class="testimonial__image-container">
        <span class="icon-container testimonial__icon icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg> </span
        ><img
          class="testimonial__author-iamge"
          src="images/testimonial.jpg"
          alt="smiling budha"
        />
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste expedita
          iusto rerum. Fugiat veniam minima necessitatibus? Odio vel aspernatur
          consequatur enim ex quaerat, at autem laboriosam voluptatibus dolor
          sequi nostrum.
        </p>
        <footer class="quote__footer">
          <div class="media">
            <div class="media__image quote__image">
              <svg class="icon">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">John Lone</h3>
              <p class="media__description quote__company">Unilever Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
