<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__contents">
      <h2 class="callout__headings">Ready to Get Started?</h2>
      <p class="callout__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione unde
        consectetur ducimus fugiat eligendi natus quisquam! Ipsum suscipit
        ducimus pariatur dolorum inventore aliquam tenetur sit quis,
        perspiciatis nemo quod repellendus!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
