<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
      consequuntur, nemo ex quibusdam earum vel nam dicta illum, beatae, quod
      molestiae recusandae dignissimos voluptates! Maiores maxime quia id hic
      officia.
    </p>
  </div>
</div>
