<div class="media">
  <div class="media__image">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p class="media__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto natus,
      dolores fugit consectetur deserunt dolorum iste quod. Sint id quibusdam
      aliquid doloremque labore dolorem nisi modi porro, culpa nam deleniti iure
      obcaecati incidunt nulla molestias, doloribus, ipsum illum eaque? Mollitia
      cupiditate optio ea consequatur sint delectus sunt similique quisquam sit!
    </p>
  </div>
</div>
